/* Setting fade transition and default settings */
html {
  scroll-snap-type: y mandatory;
}

body {
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 0.2s ease;
}

/* Section intro Paper */
.paper {
  background-image: url("../img/paper-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#1, section#2, section#3, section#4, section#5, section#intro {
  height: 100vh;
}



/* Section Sellos/Iconos */
section.section-iconos {
  height: 100vh;
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
  margin-top: 75px !important;

}

.sellos {
  width: 150px;
}

img.logo {
  width: 50%;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  img.logo {
    width: 50%;
    margin: auto;
    display: block;
  }
  h1, h2 {
    font-size: 18px;
  }
  .sellos {
    width: 75px;
  }
}

